.about {
  // .about__list

  &__list {
    gap: 20px;
    
    @include tablet {
      --gridColumns: 2;
    }

    @include mobile {
      --gridColumns: 1;
    }
  }

  // .about__item

  &__item {
  }

  // .about-card

  &-card {
    --gridColumns: 1;
    justify-content: center;
    gap: 10px;

    .button {
      text-wrap: nowrap;
    }
    
    @include mobile {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
}
