.pagination {

  // .pagination__list

  &__list {
    display: flex;
  }

  // .pagination__item

  &__item {
  }

  // .pagination__button

  &__button {
    @include reset-button;
    @include flex-center;
    @include square(24px);

    color: var(--color-light);

    @include hover {
      color: var(--color-accent);
    }

    &.is-current {
      color: var(--color-accent);
    }
  }
}