.process {

  // .process__list

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    counter-reset: custom-counter;
    list-style: none;

    @media (prefers-color-scheme: light) {
      color: var(--color-light);
    }

    @include mobile {
      row-gap: 20px;
    }
  }

  // .process__item

  &__item {
    --counterContent: counter(custom-counter);

    counter-increment: custom-counter;

    &:nth-child(-n + 9) {
      --counterContent: '0' counter(custom-counter);
    }
  }

  // .process__accordion

  &__accordion {
    --indicatorVerticalRotate: 90deg;

    padding: 40px 60px;
    background-color: var(--color-gray);
    border: var(--border);
    border-radius: var(--border-radius-large);
    box-shadow: var(--shadow);
    transition-duration: var(--transition-duration);
    
    @include hover {
      background-color: var(--color-accent);
    }

    @include mobile {
      padding: 30px;
    }

    &[open] {
      --indicatorVerticalRotate: 0deg;
      background-color: var(--color-accent);
    }

    // .process__accordion-header

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 50px;
      cursor: pointer;
      user-select: none;

      @include tablet {
        row-gap: 10px;
      }

      @include mobile {
        column-gap: 10px;
      }
    }

    // .process__accordion-title

    &-title {
      @include fluid-text(30, 18); 

      display: flex;
      align-items: center;
      column-gap: 25px;

      @include mobile {
        column-gap: 8px;
      }

      &:before {
        content: var(--counterContent);
        font-size: 2em;    
        
        @include mobile {
          font-size: 30px;
        }
      }
    }

    // .process__accordion-indicator

    &-indicator {
      @include flex-center;
      @include square(58px);

      flex-shrink: 0;
      position: relative;
      background-color: var(--color-gray);
      border: var(--border);
      border-radius: 50%;

      @media (prefers-color-scheme: light) {
        background-color:  var(--color-light);       
      }

      @include mobile {
        width: 30px;
      }

      &::before,
      &::after {
        @include abs-center;

        content: '';
        width: 45%;
        height: 10%;
        background-color: var(--color-dark);
      }

      &::after {
        rotate: var(--indicatorVerticalRotate);
        transition-duration: var(--transition-duration);
      }

    }

    // .process__accordion-body

    &-body {
      margin-top: 30px;
      padding-top: 30px;
      border-top: var(--border);
    }
  }
}
