.puddle-bg {
  padding-inline: 7px;
  background-color: var(--color-accent);
  border-radius: var(--border-radius-small);

  @media (prefers-color-scheme: light) {
    color: var(--color-light);    
  }

  &--light {
    background-color: var(--color-light);
    
    @media (prefers-color-scheme: light) {
      color: var(--color-dark);    
    }
  }
}