.service-card {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  min-height: 310px;
  padding: 50px;
  background-color: var(--color-gray);
  border: var(--border);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow);

  @include mobile {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 27px;
    padding: 50px 20px;
  }

  // .service-card--accent-bg 
  
  &--accent-bg {
    background-color: var(--color-accent);
  }

  // .service-card--dark-bg
  
  &--dark-bg {
    background-color: var(--color-dark);
  }

  // .service-card__body

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;

    @include mobile {
      display: contents;
    }
  }

  // .service-card__title

  &__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    span:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    @include mobile {
      grid-column: -1 / 1;
    }
  }

  // .service-card__link

  &__link {
    --serviceCardLinkIconColor: var(--color-accent);

    @media (prefers-color-scheme: light) {
      --serviceCardLinkIconColor: var(--color-gray);
      color: var(--color-light);
    } 

    display: inline-flex;
    align-items: center;
    column-gap: 15px;
    font-size: 20px;

    // .service-card__link--light
    &--light {
      --serviceCardLinkIconColor: var(--color-dark);
      color: var(--color-light);

      @media (prefers-color-scheme: light) {
        --serviceCardLinkIconColor: var(--color-gray);
      } 
    }

    @include hover {
      opacity: 0.7;
    }

    @include mobile {
      align-self: flex-end;
    }

    // .service-card__link-icon-wrapper

    &-icon-wrapper {
      @include flex-center;
      @include square(41px);

      background-color: currentColor;
      border-radius: 50%;

      svg {
        color: var(--serviceCardLinkIconColor);
      }
    }

    // .service-card__link-label

    &-label {
      @include mobile {
        @include visually-hidden;
      }
    }
  }  

  // .service-card__image

  &__image {
    align-self: center;

    @include desktop {
      max-width: 50%;
      height: auto;
    }

    @include mobile {
      max-width: 165px;;
    }
  }
}