.soc1als {

  // .soc1als__list

  &__list {
    display: flex;
    column-gap: 20px;
  }

  // .soc1als__item

  &__item {
  }

  // .soc1als__link

  &__link {
    @include flex-center(true);
    @include square(40px);

    color: var(--color-dark);
    background-color: var(--color-light);
    border-radius: 50%;

    @include hover {
      background-color: var(--color-accent);

      @media (prefers-color-scheme: light) {
        color: var(--color-light);
      }
    }

    svg {
      width: 50%;
      height: 50%;
    }
  }
}