.studie {
  @include desktop-above {
    padding: 70px 60px;
  }

  @include mobile-above {
    padding: 40px;
    color: var(--color-light);
    background-color: var(--color-dark);
    border-radius: var(--border-radius-large);
  }

  // .studie__list
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .studie__item

  &__item {
    --studieItemPaddingX: 24px;

    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: flex-start;

    @include desktop {
      --studieItemPaddingX: 32px;
    }

    @include mobile-above {
      &:not(:first-child) {
        padding-left: var(--studieItemPaddingX);
      }

      &:not(:last-child) {
        padding-right: var(--studieItemPaddingX);
        border-right: 1px solid var(--color-light);
      }
    }

    @include mobile {
      min-width: 280px;
      padding: 30px 20px;
      color: var(--color-light);
      background-color: var(--color-dark);
      border-radius: 0;
      scroll-snap-align: start;

      &:first-child {
        border-top-left-radius: var(--border-radius-large);
        border-top-right-radius: var(--border-radius-large);
      }
      &:last-child {
        border-bottom-left-radius: var(--border-radius-large);
        border-bottom-right-radius: var(--border-radius-large);
      }
    }
  }

  // .studie__description

  &__description {
  }

  // .studie__title

  &__title {
    display: inline-flex;
    align-items: center;
    column-gap: 15px;
    font-size: 20px;
    line-height: 1.4;
    color: var(--color-accent);

    @media (prefers-color-scheme: light) {
      color: var(--color-light);
    }
  }
}
