.subscribe-form {
  display: flex;
  column-gap: 20px;
  padding: 58px 40px;
  background-color: var(--color-dark-alt);
  border-radius: var(--border-radius);
  height: max-content;

  @include desktop {
    flex-direction: column;
    row-gap: 22px;
    width: 100%;
    max-width: 450px;
    padding: 30px;
  }

  // .subscribe-form__field

  &__field {
  }
}

.subscribe-email {

  // .subscribe-email__button

  &__button {
  }
}